{% extends 'base_back.html.twig' %}

{% block title %}Livre "{{ book.name|capitalize }}"{% endblock %}

{% block body %}
    <h1>Livre "{{ book.name|capitalize }}"</h1>

    Titre : {{ book.name|capitalize }} <br>
    Description : {{ book.description ? book.description|slice(0, 30) : 'NC' }} <br>
    Prix moyen : {{ book.averagePrice ? book.averagePrice : 'NC' }} <br>
    Date de publication : {{ book.publicationDate ? book.publicationDate|date('d/m/Y') : 'NC' }} <br>
    <img src="{{ vich_uploader_asset(book) }}" alt="{{ book.name }}" />
{% endblock %}
